# Options not set in httpd.conf
# ------------------------------------------------
Options +FollowSymlinks -Indexes

# GZip content for extra oomph. \../ >_< \../
# ------------------------------------------------
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json

# Rewriting magic.
# ------------------------------------------------
RewriteEngine on

# Canonical URL
# ------------------------------------------------
RewriteCond %{HTTP_HOST} ^(www\.)?hellopablo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hellopablo\.co\.uk$
RewriteRule ^(.*)$ http://hellopablo.co.uk/$1 [R=301,L]

# Block useragent libwww-perl to discourage simpler vulnerability scans
# ------------------------------------------------
RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* – [F,L]

# CodeIgniter Rule
# Unless requesting a valid file send to index.php
# ------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]